.forum {
  margin: 24px 0 50px;
}
.forum__title {
  text-align: center;
  font-family: 'Museo Sans Cyrl';
  font-weight: 700;
  font-size: 48px;
  line-height: 18px;
  margin-bottom: 115px;
}
.forum__text {
  margin-bottom: 45px;
  font-family: 'Museo Sans Cyrl';
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.forum__btn {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 78px;
  background-color: var(--purple-color);
  transition: background-color .24s linear;
  margin-top: 20px;
}
.forum__btn:hover{
  background-color: #b4819e;
  transition: background-color .24s linear
}
.forum__btn::after {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  top: 25px;
  right: 34px;
  background-image: url("../img/Arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.forum__btn-text {
  color: var(--white-color);
  padding-left: 65px;
  padding-top: 30px;
  font-family: 'Museo Sans Cyrl';
  font-weight: 600;
  font-size: 24px;
  line-height: 18px;
}
.desc__text {
  margin-top: 30px;
}