.goods {
  margin-top: 50px;
}

.goods__title {
  text-align: center;
  font-family: 'Museo Sans Cyrl';
  font-weight: 700;
  font-size: 40px;
  line-height: 18px;
  margin-bottom: 45px;
}
.goods__wrapper {
  display: flex;
  gap: 20px 10px;
  flex: 0 1 25%;
  flex-wrap: wrap;

}
.goods__item {
  width: 340px;
  height: 550px;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;

  border: 1px solid #956d8494;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}
.item__img {
  position: relative;
  height: 300px;
  width: 100%;
  background-color: #FBF9FA;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}
.item__img-flowers {
  height: 90%;
  object-fit: cover;
}
.item__img-ico {
  position: absolute;
  top: 30px;
  right: 20px;
}
.item__img-top {
  position: absolute;
  width: 56px;
  height: 56px;
  bottom: 20px;
  right: 20px;
  background: rgba(157, 117, 140, 0.39);
  border-radius: 50%;
}
.item__img-top p{
  padding-top: 35%;
}
.item__info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  font-family: 'Museo Sans Cyrl';
  font-size: 18px;
  line-height: 18px;
  margin-left: 25px;
  margin-right: 22px;
}
.item__info-title {
  grid-column: 1/3;
  grid-row: 1/3;
  align-items: start;
  font-weight: 300;
  padding-right: 30px;
}
.item__info-price {
  text-align: right;
  font-weight: 300;
  color: #BDBDBD;
}
.cross__number{
  position: relative;
}
.cross__number::after{
  content: "";
  display: block;
  position: absolute;
  background-color: #BDBDBD;
  height: 1px;
  width: 100%;
  top: 50%;
  right: 0;
}
.item__info-prom {
  text-align: right;
  font-weight: 700;
  color: var(--purple-color);
}
.item__order {
  position: relative;
  margin: 40px 56px 15px 65px;
  width: 220px;
  height: 63px;
  background: #956D84;
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  color: var(--white-color);
  font-family: 'Arial';
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  padding-top: 22px;
  letter-spacing: 2px;
  opacity: 1;
  transition: background 0.24s linear;
}
.item__order:hover{
  background: #856577;
  transition: background 0.24s linear;
}

.item__order-quick {
  position: relative;
  font-family: 'Euclid Circular';
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--gray-color);
}
.quick__order{
  position: relative;
  opacity: 1;
  transition: opacity 0.24s linear;
}
.quick__order:hover{
  opacity: 0.5;
  transition: opacity 0.24s linear;
}
.quick__order::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: var(--gray-color);
}