@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
@import 'fonts.css';
@import 'normalize.css';
@import 'default.css';
@import 'header.css';
@import 'menu.css';

.zamów{
  font-style: normal;
  
  font-weight: 700;
  font-size: 20px;
  line-height: 18px;
  /* identical to box height, or 90% */
  display: inline;
  position: center;
  align-items: center;
  
  /* 333333 */
  
  color: #333333;
  
}